@model Datos.Models.Libros



<h1 style="text-align:center">Detalle</h1>

<table class="table border-bottom">
    <tr>
        <td>Codigo</td>
        <td>Titulo</td>
        <td>Autor</td>
        <td>Codigo Editorial</td>
    </tr>

    <tbody>
        <tr>
            <th>@Model.Codigo</th>
            <th>@Model.Titulo</th>
            <th>@Model.Autor</th>
            <th>@Model.CodigoEditorial</th>
        </tr>

    </tbody>


</table>